*.hjson linguist-language=JSON linguist-vendored=false
*.properties linguist-language=Text linguist-vendored=false
*.png linguist-vendored=true
LICENSE linguist-vendored=true
README.md linguist-detectable=false
